html,body{
    height: 100%;
    width: 100%;
}
.header_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d5d2d5;
    border-radius: 10px;
    height: auto;
    width: auto;
    position: relative;
    box-sizing: inherit;
}
.heading{
    padding-top: 50px;
    text-align: center;
    height: 210px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;;
}
.main_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading span a1, a2, a3, a4, a5, a6 {
    text-align: center;
    font-size: 25px;
}

.heading span a1 {
    color: blue;
}

.heading span a2 {
    color: red;
}

.heading span a3 {
    color: yellow;
}


.heading span a4 {
    color: blue;
}

.heading span a5 {
    color: green;
}

.heading span a6 {
    color: red;
}
.heading h2 {
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;  
}
  
.heading h3 {
    font-size: 16px;
    font-weight: 50;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;    
}

.floating_text { 
    position:relative; 
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5%;
  }
  
.floating_input , .floating_select {
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    height: 53px;
    width: 370px;
    font-size: 15px;
    outline: none;
}
  
.floating_input:focus , .floating_select:focus {
    border: 1.5px solid #1f52f9;
}
  
label {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:55px;
    top:18px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.floating_input:focus ~ label, .floating_input:not(:placeholder-shown) ~ label {
    top:-8px;
    background: #fff;
    font-size:14px;
    color:#5264AE;
}
  
.floating_select:focus ~ label , .floating_select:not([value=""]):valid ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
}
  
.floating_input:focus ~ .bar:before, .floating_input:focus ~ .bar:after, .floating_select:focus ~ .bar:before, .floating_select:focus ~ .bar:after {
    width:50%;
}
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text a {

    display: block;
    font-family: roboto;
    text-decoration: none;
    align-items:initial;
    padding-left: 40px;
}

.text1 {
    font-size: 16px;
    color: #4971f6;
    padding-top: 12px;
    padding-left: 16px;
}
.text2 {
    font-size: 16px;
    padding-top: 50px;
    color: #555;
    padding-left: 16px;
}

.text3 {
    font-size: 16px;
    color: #4971f6;
    padding-top: 5px;
    font-family: arial rounded mt;
    padding-left: 16px;
}

.text4 {
    font-size: 14px;
    color: #4971f6;
    padding-top: 50px;
    padding-left: 16px;
    font-family: arial rounded mt;
}
.btn{
    display: flex;
    flex-direction: row;
}
.submit-button {
    background: #4971f6;
    border: none;
    color: #fff;
    width: 20%;
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 4px; 
    margin: 1px 0 50px 290px;
    outline: none;
}

.submit-button:hover {
    background: #254fdb;
}
.text-error{
    font-style: italic;
    color: red;
    display: flex;
    font-size: 10px;
    flex-direction: column;
}