html,body{
    height: 100%;
    width: 100%;
}
.section{
   height: 100%;
   
}
.form{
    border: 1px solid #d5d2d5;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
}
.section1{
    margin-left: 5%;
    margin-bottom: 10%;
    width: 70%;

}
.logo{
    margin-top: 10%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
}
.logo span a1{
    color: blue;
}
.logo span a2{
    color: red;
}
.logo span a3{
    color: yellow;
}
.logo span a4{
    color: blue;
}
.logo span a5{
    color: green;
}
.logo span a6{
    color: red;
}
.sub_heading{   
    font-weight: 100;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}

.name {
    margin-top: 5%;
    position:relative; 
    display: inline-block;
}
.username{
    position: relative;
}
.pass{
    position: relative;
}
.floating_input[type="email"]{
    width: 350px;
}
.floating_input[type="password"]{
    position: relative;
    display: inline-block;
}
.floating_input{
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    height: 40px;
    width: 190px;
    font-size: 15px;
    outline: none;
    margin: 9px;
}
.floating_input:focus{
    border: 1.5px solid #1f52f9;
}
label{
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left:15px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.floating_input:focus ~ label,.floating_input:not(:placeholder-shown) ~label{
    top: -.1px;
    background: #fff;
    font-size: 14px;
    color: #5264AE;
}
*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gmail{
    position: relative;
    margin-bottom: 50px;
    left: 57%;
}

.section2{
    
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.sec2_img{

    width: 70%;
    height: 70%;
    margin-top: 10%;
}
.line1{
    top: 10px;
}
.link,a{
  
    margin-top: 5%;
    border: 0px;
    width: 60%;
    background-color: transparent;
    text-decoration: none;
}
.link:hover{
    background: skyblue;
}

.button{
    margin-top: 5%;
    height: 40px;
    display: flex;
    justify-content: space-between;    
}
.button_text{
    width:50%;
    background-color: transparent;
    border-radius: none;
    text-decoration: none;
    color: white;
    border: 0px;
}
.button_text:hover{
    background: skyblue;
}
.submit_button{
   background-color: blue;
    color: white;
    width: 70px;
    border-radius: 5px;
    border: 0px;
}
.submit_button:hover{
    background: #254fdb;
}
@media only screen and(max-device-width:900px) {
    .sec2_img{
        display: none;
    }
    .sec2_text{
        display: none;
    }
    .form{
        border: 2px solid red;
    }
}